<div class="widget">
    <!--
<div class="widget-header">
<i class="icon-bar-chart"></i>
<h3>
Line Chart</h3>
</div>
-->
    <!-- /widget-header -->
    <div class="widget-content">
    	<canvas id="line" class="chart chart-line" data="data"
        labels="labels" legend="true" series="series"
        click="onClick"></canvas> 
        <!-- <canvas id="area-chart" class="chart-holder" width="1076" height="500" style="width: 538px; height: 250px;">
        </canvas> -->
        <!-- /line-chart -->
    </div>
    <!-- /widget-content -->
</div>