<div id="confirmCancel" class="modal"  >
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure to cancel?</p>
            </div>
                <div class="modal-footer">
                <button class="btn cancel" ng-click="$hide()">Cancel</button>
                <button class="btn btn-warning" ng-click="confirm();$hide()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>