<!--<div class="modal-body">-->
    <!--You have completed all peer review sections.-->
<!--</div>-->
<!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-primary" ng-click="confirm()">Confirm</button>-->
<!--</div>-->


<div class="modal">
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-body">
                <p>   You have completed all peer review sections.
                </p>
                </div>
            <div class="modal-footer">
            <button class="btn cancel" ng-click="$hide()">Ok</button>
            </div>
        </div>
    </div>
</div>