<div id="confirmCancel" class="modal"  >
    <div class="modal-dialog" style="width: 300px">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure to submit?</p>
            </div>
                <div class="modal-footer">
                <button class="btn cancel" ng-click="$hide()">No</button>
                <button class="btn btn-warning" ng-click="submit();$hide()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>