<div class="widget widget-nopad">
    <div class="widget-header"><i class="icon-list-alt"></i>

        <h3> Calendar</h3>
        <!--<div class="btn-group-action-bar">-->
            <!--<i class="icon-cog"></i>-->
            <!--<i class="icon-remove"></i>-->
        <!--</div>-->
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div id='calendar'>
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->