<div class="widget widget-nopad">
    <div class="widget-header">
        <i class="icon-list-alt"></i>

        <h3> Today's Stats</h3>

        <div class="btn-group-action-bar">
            <i class="icon-cog"></i>
            <i class="icon-remove"></i>
        </div>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">
                <h6 class="bigstats">You cannot improve your past, but you can improve your future. Once time is
                    wasted, life is wasted.</h6>

                <div id="big_stats" class="cf">
                    <div class="stat">
                        <div>Complete</div>
                        <span class="value">423</span></div>
                    <!-- .stat -->

                    <div class="stat">
                        <div>Total</div>
                        <span class="value">852</span></div>
                    <!-- .stat -->

                    <div class="stat">
                        <div>Yesterday</div>
                        <span class="value">23</span></div>
                    <!-- .stat -->

                    <div class="stat">
                        <div>Progress</div>
                        <span class="value">49%</span></div>
                    <!-- .stat -->
                </div>
            </div>
            <!-- /widget-content -->

        </div>
    </div>
</div>